# Q1:  Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only. 
Input Format: 
The first line of the input contains an email address. 
Output Format: 
Print the company name in single line. 
Example; 
Input: 
john@google.com 
Output: 
google

In [1]:
email=input("Enter your company email id:")
print(email.split("@")[1].split(".")[0])

Enter your company email id:akash@mishra.com
mishra

# Q2: Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically. 
Input Format: 
The first line of input contains words separated by the comma. 
Output Format: 
Print the sorted words separated by the comma. 
Example: 
Input: 
without, 
Output: 
bag,

In [2]:
test_string = input("Enter a Comma Separted string: " )
x= test_string.split(",") 
x. sort() 
output_String=""
for l in x: 
    if l==x[len(x)-1]:
        output_String=output_String + l
    else:
        output_String=output_String + l + ","
print(output_String)

Enter a Comma Separted string: hi,hello,Bye,ssup,bubye,ok,thanks
Bye,bubye,hello,hi,ok,ssup,thanks

#  Q3. Create your own Jupyter Notebook for Sets. Reference link: https://www.w3schools.com/python/python_sets.asp


Set A set is a collection which is unordered and unindexed.

In Python sets are written with curly brackets.

Sets are unordered, so you cannot be sure in which order the items will appear.

We cannot access items in a set by referring to an index, since sets are unordered the items has no index. But we can loop through the set items using a for loop by using the in keyword.

Once a set is created, we cannot change its items, but we can add new items.

To add one item to a set use the add() method.

To add more than one item to a set use the update() method.

To determine how many items a set has, use the len() method.

To remove an item in a set, use the remove(), or the discard() method.

We can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The union() method returns a new set with all items from both sets.

The update() method inserts the items in set2 into set1.

The clear() method empties the set.

In [3]:
thisset = {"apple", "banana", "cherry"}
print("values in set : ",thisset)
print("Length of set is : ",len(thisset))
thisset.add("orange")
print("After adding orange : ",thisset)
thisset.update(["orange", "mango", "grapes"])
thisset.remove("banana")
print("After removing banana : ",thisset)
thisset.discard("grapes")
print("After discarding grapes : ",thisset)
x = thisset.pop()
print("popped element : ",x)
thisset2 = {"watermelon", "pomogranate", "apple"}
thisset3 = thisset.union(thisset2)
print("union of two sets : ",thisset3)
thisset.update(thisset2)
print("Updating set with another set : ",thisset)
print("All elements in set : ")
for x in thisset:
  print(x)

values in set :  {'cherry', 'apple', 'banana'}
Length of set is :  3
After adding orange :  {'cherry', 'apple', 'banana', 'orange'}
After removing banana :  {'grapes', 'cherry', 'apple', 'mango', 'orange'}
After discarding grapes :  {'cherry', 'apple', 'mango', 'orange'}
popped element :  cherry
union of two sets :  {'watermelon', 'mango', 'pomogranate', 'orange', 'apple'}
Updating set with another set :  {'watermelon', 'apple', 'mango', 'pomogranate', 'orange'}
All elements in set :
watermelon
apple
mango
pomogranate
orange

# Q4: Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates. 
Input Format: 
The first line contains n-1 numbers with each number separated by a space. 
Output Format: 
Print the missing number 

Example: 
Input:1 246378 
Output:5

Explanation: 
In the above list of numbers 5 is missing and hence 5 is the input

In [4]:
NumList= list(map(int ,(input ("Enter (n-1) number separated bye space:")).split())) 
for x in range(1, max(NumList)+1):
    if x not in NumList: 
        print (x)

Enter (n-1) number separated bye space:1 2 4 6 3 7 8
5

# Q5: With a given list write a program to print this list L after removing all duplicate values with original order reserved.

In [5]:
duplist = list (map(int,(input("Enter the list elements separated by space:")).split()))
#print(duplist) 
x=list(set(duplist))
x. sort ( ) 
for l in x: 
    print(l, end=" ")

Enter the list elements separated by space:12 23 34 34 34 23 23 45 56 78
12 23 34 45 56 78